@mixin spinner-keyframes {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@mixin button-color (
  $text-color,
  $main-color,
  $active-color,
  $disabled-color,
  $hover-color,
) {
  background-color: $main-color;
  border-color: $main-color;
  color: $text-color;

  &:hover,
  &:focus {
    background-color: $hover-color;
    border-color: $hover-color;
  }

  &:active {
    background-color: $active-color;
    border-color: $active-color;
  }

  &:disabled {
    background-color: $disabled-color;
    border-color: $disabled-color;
    color: $disabled-color;
  }
}