$color-white-700: #fcfcfc;
$color-white-600: #f4f4f5;
$color-white-500: #ffffff;

$color-gray-300: #eaebeec0;
$color-gray-400: #b3b6ba;
$color-gray-500: #8f8f8f;
$color-gray-600: #9da1a6;
$color-gray-700: #626262;
$color-gray-900: #343434;
$color-black-500: #000000;

$color-blue-500: #387db9;
$color-blue-400: #79b2e3;
$color-blue-300: #6ca6d9;
$color-blue-200: #cddfee;

$color-red-500: #d0021b;
$color-red-400: #f20c0c;
$color-red-300: #ff3e56;
$color-red-200: #f3c0c6;

$color-green-500: #569210;